@charset "UTF-8";


@media screen and (min-width: 340px) and (max-width: 758px){
 main{
    margin: auto;
    width: 420px;
    height: max-content;
}
header{
    padding: 10px;
}
ul{
    display: none;
}
nav{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}
img#menu{
    margin-left: 47%;
    display: inline;
}
#menu:hover{
    
}
}