@charset "UTF-8";


/* Aparelho deitado (landscape)*/

body{
    background-image: url(../paisagem.jpg);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
}